
/* From: https://forum.obsidian.md/t/how-to-disable-property-editor-on-reader-mode/82574/7  */

.markdown-reading-view .metadata-content .multi-select-input,
.markdown-reading-view .metadata-content .multi-select-pill-remove-button,
.markdown-reading-view .metadata-content .metadata-add-button {
	display: none;
}

/* Give tags some space after deleting the remove button */
.markdown-reading-view .metadata-content .multi-select-pill-content {
	padding-right: .7em;
}


/* MINE */

/* Dont show Pen for editing links */
.markdown-reading-view .metadata-link-flair {
     display: none;
} 
/*  */

/* Dont allow clicking next to links since it shows other suggested links */
.markdown-reading-view .metadata-link { 
    pointer-events: none;
} 

.markdown-reading-view .metadata-link .metadata-link-inner { 
    pointer-events: auto;
}
/*  */